@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noticia Text', serif;
}


/*Navbar*/
.nav {
  background: #93c48b;
}

#logoBtn{
  color: #b33f62;
  margin-right: 3%;
}

.link::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  transition: 0.5s;
}

.link:hover::after{
  width: 100%;
}



/*Home*/
.cardTitle {
  text-align: center;
  padding: 8px 12px;
}

.cardTitle::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.cardTitle:hover::after{
  width: 100%;
}

.lt {
  background-image: url(images/laptop.png);
  background-repeat: no-repeat;
  min-height: 50%;
  min-width: 50%;
  color: transparent;
}

.dt {
  background-image: url(images/desktop.png);
  background-repeat: no-repeat;
  min-height: 50%;
   min-width: 50%;
  color: transparent;
}

.fs {
  background-image: url(images/fs.jpg);
  background-repeat: no-repeat;
  min-height: 50%;
   min-width: 50%;
  color: transparent;
}




/*Banner*/
.banner {
  align-content: center;
  text-align: center;
  background: darkgreen;
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0, 0, 0, 0.2)0), url(images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  min-height: 50vh;
  width: 100%;
  margin-bottom: 2%;
}

.banner h1{
  text-align: center;
  margin-right: 55%;
  color: orangered;
}

.banner h3{
  text-align: center;
  margin-right: 60%;
  margin-top: 1%;
}

.btn{
  margin-top: 2%;
  text-align: right;
  margin-right: 60%;
}

.btn{
  cursor: pointer;
}



/*Products*/
.allpdt{
  margin-top: 2%;
  padding-top: 0.5%;
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0, 0, 0, 0.2)0), url(images/pbg.jpg);
}

.prdct{
  background-color: #ffe0b5;
  text-align: center;
  margin-top: 1%;
  margin-right: 35%;
  margin-left: 35%;
  margin-bottom: 2%;
}

.pList{
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
  color: darkred;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 2%;
  cursor: pointer;
}

.pview{
  background-image: url(images/cart.jpg);
  background-size: contain;
  color: #55251d;
}



/*Login*/
.login{
  margin-top: 5%;
  cursor: pointer;
  background-color: #f2e5d7;
  border-style: solid;
  border-color: #d5a18e;
}

.logtitle {
  text-align: center;
  color: #240115;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
  padding-left: 5%;
}

.logtext{
  min-width: 100%;
  min-height: 100%;
  font-size: 20px;
  text-align: center;
  border-style: solid;
  border-color: #d5a18e;
  color: #b9314f;
}

.text{
  text-align: center;
}


.logtext3 {
  margin-top: 1%;
  margin-left: 33%;
}

#submitBttn {
  margin-left: 45%;
}




/*Register*/
.register{
  margin-top: 5%;
  cursor: pointer;
  background-color: #f2e5d7;
  border-style: solid;
  border-color: #d5a18e;
  margin-bottom: 5%;
}

.regtitle {
  text-align: center;
  color: #240115;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
  padding-left: 5%;
}

.regtxt{
  min-width: 100%;
  min-height: 100%;
  font-size: 20px;
  text-align: center;
  border-style: solid;
  border-color: #d5a18e;
  color: #b9314f;
}

.regtxt1{
  margin-top: 2%;
  text-align: center;
}

.txt{
  text-align: center;
}


#submitBtn{
  margin-left: 45%;
}

/*Dashboard*/
.dash{
  border-style: solid;
  border-color: #e4dfda;
  width: 25%;
  margin-left: 35%;
  background-color: #d4b483;
  margin-bottom: 0;
}

.mr-1{
  margin-top: 1%;
  margin-right: 2%;
}

.table{
  background-color: #ccc9a1;
  
}

.tbody{
  background-color: #f0ffce;
  
}



/*Profile*/
.cardProfile {
  min-height: 100%;
  width: 50%;
  align-content: center;
  margin-left: 25%;
}
